<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container">
	<div class="row justify-content-center mt-4">
		<h1 class="text-center">Admin Panel</h1>
	</div>
	<div class="row justify-content-center mt-5">
		<h3>Please login</h3>
	</div>
	<div class="row justify-content-center mt-2">
		<form class="form" action="<%= routes.admin %>" method="POST">
			<div class="form-group row">
				<label for="loginUsername">Email</label>
				<input type="text" class="form-control" id="loginUsername" name="username" placeholder="Username">
			</div>
			<div class="form-group row">
				<label for="loginPassword">Password</label>
				<input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password">
			</div>
			<div class="row justify-content-center mt-2">
			<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</form>
	</div>
</div>

<% include ../partials/scripts %>
<% include ../partials/footer %>
