<% include ../partials/header %>

<div class="jumbotron">
    <div class="container">
        <a class="btn btn-success" href="/bikes">Manage Bikes</a>
        <a class="btn btn-success" href="/subscribers">Manage Subscribers</a>
        <a class="btn btn-success" href="/users">Manage Administrators</a>
        <a class="btn btn-success" href="/signup">Manage Signup Page</a>
    </div>
</div>

<% include ../partials/footer %>
