<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container">
	<a class="btn btn-success" href="<%= routes.bikes %>">Manage Bikes</a>
	<a class="btn btn-success" href="<%= routes.subscriberGroups %>">Manage Subscriber Groups</a>
	<a class="btn btn-success" href="<%= routes.administrators %>">Manage Administrators</a>
</div>

<% include ../partials/scripts %>
<% include ../partials/footer %>
