<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container">
	<a class="btn btn-success" href="<%= routes.bikes %>">Manage Bikes</a>
	<a class="btn btn-success" href="<%= routes.subscribers %>">Manage Subscribers</a>
	<a class="btn btn-success" href="<%= routes.admins %>">Manage Administrators</a>
</div>

<% include ../partials/footer %>
