<% include ../partials/header %>
<% include ../partials/nav %>

<div class="jumbotron">
    <div class="container">
        <a class="btn btn-success" href="/a/bikes">Manage Bikes</a>
        <a class="btn btn-success" href="/a/subscribers">Manage Subscribers</a>
        <a class="btn btn-success" href="/a/users">Manage Administrators</a>
        <a class="btn btn-success" href="/a/signup">Manage Signup Page</a>
    </div>
</div>

<% include ../partials/footer %>
