<% include ../partials/header %>
<% include ../partials/nav %>

<ol class="breadcrumb">
  <li class="breadcrumb-item active">Admin Panel</li>
</ol>


<div class="container mt-5">
	<div class="row justify-content-center">
		<a class="btn btn-primary m-2" href="<%= routes.bikes %>">Manage Bikes</a>
		<a class="btn btn-primary m-2" href="<%= routes.subscriberGroups %>">Manage Subscriber Groups</a>
		<a class="btn btn-primary m-2" href="<%= routes.administrators %>">Manage Administrators</a>
		<a class="btn btn-primary m-2" href="<%= routes.data %>">Data</a>
	</div>
</div>

<% include ../partials/scripts %>
<% include ../partials/footer %>
