<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Setting: <% setting.key %></h1>
        <div style="width: 30%; margin: 30px auto;">
            <form action="/settings/<%= setting.id%>" method="POST">
                <div class="form-group">
                    <input class="form-control" name="setting[key]" type="text" value="<%= setting.key %>" readonly>
                </div>
                <div class="form-group">
                    <input class="form-control" name="setting[value]" type="text" value="<%= setting.value %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    <input type="hidden" name="_method" value="PUT">
                </div>
            </form>
            <a href="/settings">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>