<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">
	<h1>Create a New Administrator</h1>
	<form action="<%= routes.administrators %>" method="POST">
		<div class="form-group">
			<input class="form-control" name="administrator[name]" type="text" placeholder="Name">
		</div>
		<div class="form-group">
			<input class="form-control" name="administrator[username]" type="text" placeholder="Email">
		</div>
		<div class="form-group">
			<input class="form-control" name="administrator[password]" type="password" placeholder="Password">
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block">Submit!</button>
		</div>
	</form>
	<a href="<%= routes.administrators %>">Go Back</a>
</div>

<% include ../../partials/scripts %>
<% include ../../partials/footer %>
