<footer class="footer">
	<div class="container">
			<span class="row justify-content-center">
				<strong>For more information, visit:</strong>
				<a href="<%= supportSite %>" target="_blank"> <%= supportSite %></a>
			</span>
	</div>
</footer>
