<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a New Bike User</h1>
        <div style="width: 30%; margin: 30px auto;">
            <form action="/bike-users" method="POST">
                <div class="form-group">
                    <input class="form-control" name="bikeUser[firstName]" type="text" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input class="form-control" name="bikeUser[lastName]" type="text" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input class="form-control" name="bikeUser[email]" type="text" placeholder="email address">
                </div>
                <div class="form-group">
                    <input class="form-control" name="bikeUser[phoneNumber]" type="text" placeholder="10-digit phone number">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/bike-users">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
