<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twig Bike Share</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="jumbotron">
    <h2>Nope! That page doesn't exist!</h2>
    <p>Try <a href="/">logging in!</a></p>
    <div class="container">
        <img src="https://httpstatusdogs.com/img/404.jpg">
    </div>
</div>
</body>
</html>

