<% include ./partials/header %>
<p class="btn btn-success"><a href="/bikes">Modify Bikes</a></p>
<p class="btn btn-success"><a href="/subscribers">Manage Subscribers</a></p>
<p class="btn btn-success"><a href="/api/settings">Twilio Settings</a></p>
<% include ./partials/footer %>
