<% include ./partials/header %>
<p><a href="/bikes">Go modify bike db</a></p>
<p><a href="/subscribers">Go modify subscriber db</a></p>
<p><a href="/twilio/test">Test twilio</a></p>
<% include ./partials/footer %>
