<% include ./partials/header %>
<h1>Bamm!</h1>

<p><a href="/bikes">Go modify bike db</a></p>
<p><a href="/admin/users">Add new admin</a></p>
<p><a href="/bike-users">Go modify bike-user db</a></p>
<% include ./partials/footer %>
