<% include ./partials/header %>

<div class="jumbotron">
    <div class="container">
        <a class="btn btn-success" href="/bikes">Modify Bikes</a>
        <a class="btn btn-success" href="/subscribers">Manage Subscribers</a>
        <a class="btn btn-success" href="/api/settings">Twilio Settings</a>
    </div>
</div>

<% include ./partials/footer %>
