<% include ./partials/header %>

<div class="jumbotron">
    <div class="container">
        <p class="btn btn-success"><a href="/bikes">Modify Bikes</a></p>
        <p class="btn btn-success"><a href="/subscribers">Manage Subscribers</a></p>
        <p class="btn btn-success"><a href="/api/settings">Twilio Settings</a></p>
    </div>
</div>

<% include ./partials/footer %>
