<% include ./partials/header %>
<% include ./partials/nav %>

<div class="container">
    <h1  class="index__title">Coming in May 2017!</h1>
    <div style="text-align: center; margin-top: 8em;">
    	<p style="font-size: 2em; margin-bottom: -3em;">Powered by the</p>
    	<a href="http://openbikeinitiative.org/" target="_blank"><img src="/img/OBI_logo_big.png"  width="500px"/></a>
    </div>
</div>

<% include ./partials/footer %>
