/* main.css */
/* CSS rules for the whole site */

.index__title {
	text-align: center;
	margin-top: 2em;
	font-size: 5em;
}


.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.alert {
	margin-bottom: 0;
	border-radius: 0;
	border: none;
}

.nav__wrapper {
	margin-bottom: 1rem;
}
