<% include ../partials/header %>


<div class="container">
  <div class="row">
    <h2>Sent an email!</h2>
  <!--<a class="btn btn-primary btn-large" href="/users/new">Add a new User</a>-->
</div>

<% include ../partials/footer %>