<% include ../../partials/header %>
<% include ../../partials/nav %>
<style>
.bar {
	  fill: steelblue;
	}

	.axis text {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

</style>

<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="<%= routes.admin %>">Admin Panel</a></li>
	<li class="breadcrumb-item active">Data</li>
</ol>

<div class="container mt-5">
	<svg class="chart"></svg>

	<div class="row justify-content-center mt-2">
		<form class="form" action="<%= routes.data + routes.checkouts %>" method="GET">
			<div class="row justify-content-center mt-2">
				<button type="submit" class="btn btn-primary">Download CSV of Bike Checkouts</button>
			</div>
		</form>
	</div>
	<div class="row justify-content-center mt-2">
		<form class="form" action="<%= routes.data + routes.subscriberEmailData %>" method="GET">
			<div class="row justify-content-center mt-2">
				<button type="submit" class="btn btn-primary">Download CSV of Subscriber Emails</button>
			</div>
		</form>
	</div>
</div>

<% include ../../partials/scripts %>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

var data = <%- JSON.stringify(checkoutList) %>;

// set chart dimensions
var margin = {top: 20, right: 30, bottom: 50, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// set x & y scale
var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);
var y = d3.scale.linear()
    .range([height, 0]);

// axis domains
x.domain(data.map(function(d) { return d.label; }));
y.domain([0, d3.max(data, function(d) { return d.count; })]);

// create axes
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

// create chart
var chart = d3.select(".chart")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

chart.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
	.selectAll("text")
    .attr("y", 0)
    .attr("x", 9)
    .attr("dy", ".35em")
    .attr("transform", "rotate(90)")
    .style("text-anchor", "start");

chart.append("g")
    .attr("class", "y axis")
    .call(yAxis);

chart.selectAll(".bar")
    .data(data)
  .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return x(d.label); })
    .attr("y", function(d) { return y(d.count); })
    .attr("height", function(d) { return height - y(d.count); })
    .attr("width", x.rangeBand());

</script>
<% include ../../partials/footer %>
