<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container mt-5">
	<div class="row justify-content-center mt-2">
		<form class="form" action="<%= routes.checkouts %>" method="POST">
			<div class="row justify-content-center mt-2">
				<button type="submit" class="btn btn-primary">Download CSV</button>
			</div>
		</form>
	</div>
</div>

<% include ../../partials/scripts %>
<% include ../../partials/footer %>
