<% include ../../../partials/header %>
<% include ../../../partials/nav %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">App Settings</h1>
    <table class="table table-hover setting-list">
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Edit</th>
      </tr>
      <% settings.forEach(function(setting){ %>
        <tr>
          <td><%= setting.key %></td>
          <td><%= setting.value %></td>
          <td>
              <a href="<%= routes.settings %>/<%= setting._id %>/edit" class="btn btn-xs btn-warning">Edit</a>
          </td>
        </tr>
      <% }); %>
    </table>
  </div>
</div>

<% include ../../../partials/scripts %>
<% include ../../../partials/footer %>
