<% include ../partials/header %>


<div class="container">
  <div class="row">
    <a class="btn btn-primary btn-large" href="/bikes/new">Add a new Bike</a>
  </div>


  <div class="row">
    <ul class="bike-list">
      <% bikes.forEach(function(bike){ %>
        <li>
          <p><%= bike.id %></p>
          <p><%= bike.code %></p>
          <form action="/bikes/<%= bike._id %>" method="POST" class="make-inline">
            <button class="btn btn-xs btn-danger">Delete</button>
            <input type="hidden" name="_method" value="DELETE">
          </form>
        </li>
      <% }); %>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
