<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">
	<div class="row">
		<h1>Create a New Subscriber Group</h1>
		<div>
			<form action="<%= routes.subscriberGroups %>" method="POST">
				<div class="form-group">
					<label for="groupName">Group Name</label>
					<input class="form-control" name="subscriberGroup[groupName]" id="groupName" type="text" placeholder="Open Bike Group">
				</div>
				<div class="form-group">
					<label for="emailRegex">Email Regex</label>
					<input class="form-control" name="subscriberGroup[emailRegex]" id="emailRegex" type="text" placeholder="/.*@.*/">
				</div>
				<div class="form-group">
					<label for="inviteUrl">Invite Url</label>
					<input class="form-control" name="subscriberGroup[inviteUrl]" id="inviteUrl" type="text" placeholder="open-bike-group">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
			<a href="<%= routes.subscriberGroups %>">Go Back</a>
		</div>
	</div>
</div>

<% include ../../partials/footer %>
