<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">
	<h1 class="row my-2 justify-content-center">Create a New Subscriber Group</h1>
	<div class="row my-2 justify-content-center">
		<form class="col-md-6" action="<%= routes.subscriberGroups %>" method="POST">
			<div class="row form-group">
				<label for="groupName">Group Name</label>
				<input class="form-control" name="subscriberGroup[groupName]" id="groupName" type="text" placeholder="Open Bike Group">
			</div>
			<div class="row form-group">
				<label for="emailDomain">Email Domain</label>
				<input class="form-control" name="subscriberGroup[emailDomain]" id="emailDomain" type="text" placeholder="@openbikeinitiative.org">
			</div>
			<div class="row form-group">
				<label for="signUpSlug">Sign Up Page Slug</label>
				<input class="form-control" name="subscriberGroup[signUpSlug]" id="signUpSlug" type="text" placeholder="open-bike-group">
			</div>
			<div class="row form-group">
				<label for="repairEmail">Repair Request Email</label>
				<input class="form-control" name="subscriberGroup[repairEmail]" id="repairEmail" type="text" placeholder="repairs@openbikeinitiative.org">
			</div>
			<div class="row form-group">
				<label for="legalText">Legal Text</label>
				<textarea class="form-control" name="subscriberGroup[legalText]" id="legalText" placeholder="The Open Bike Initiative assumes no resposibility for anything..." rows="5"></textarea>
			</div>
			<div class="row form-group justify-content-center">
				<button class="btn btn-lg btn-primary btn-block col-md-4" type="submit">Submit</button>
			</div>
		</form>
	</div>
	<a class="row my-2 justify-content-center" href="<%= routes.subscriberGroups %>">Go Back</a>
</div>

<% include ../../partials/scripts %>
<% include ../../partials/footer %>
